/* Variables */
$font-elements: 'Great Vibes', cursive;
$font-main: 'Roboto', sans-serif;
$color-red-medium: #A60303;
$color-grey: #EAEAEC;
$color-black: #070304;

/* Global */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a::hover{
    cursor: pointer;
}

body {
    font-size:10px;
    background-image: url('https://i.postimg.cc/gk7XmgsQ/cut-mae-mu-a-Zf-MW0h-Sn-QI-unsplash-S.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $font-main;
    text-align: justify;
    line-height: 1.5;
}

/* Header */
.grid-menu {
    display: grid;
    grid-template-columns: 45% 35% 10% 10%;
    grid-template-rows: 1;

    .item {
        font-size: 2em;
        min-height: 5em;
    }
    .logo {
        /* wycentrowanie obrazka i napisu w pionie*/
        display: flex;
        align-items: center;
        /* wycentrowanie w poziomie w danym divie
        justify-content: center;
        */
    }
    .logo-picture{
        min-height: 3em;
        max-height: 4em;
        display: block;
        margin-left: 2em;
    }
    .logo-page {
        font-size: 1.2em;
        display: block;
        margin-left: 0.7em;
    }
}

    /*Menu*/
    .item {
        ul {
                list-style-type: none;
                justify-content: space-between;
            }

            li {
                float: left;
                padding: 0.5em;
            }
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    header {
        a {
        font-size:1em;
        color:#070304;
        padding-bottom: 0.4em;
        }
        a:hover{
        border-bottom: 3px solid $color-red-medium;
        }
    }
    .language {
        display: flex;
        justify-content: right;
    }
    

/* About me */
.grid-about {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 1;
    margin-top: 5em;
    background-color: rgba($color: white, $alpha: 0.6);
    .picture {
        display: flex;
        align-items: center;
    }
    .foto {
        min-width: 50%;
        max-width: 90%;
        margin: 2em auto auto 2em;
    }
    
}
.page-title {
    font-family: $font-elements; 
    font-size: 4em;
    font-weight: lighter;
    margin: 0.5em 0.5em auto 0.5em;
    border-bottom: 3px solid $color-red-medium;
    grid-column: 1/-2;
}
.item {
    p {
        padding: 1em;
        font-size: 1.7em;
    }
}

/* Wine */
.grid {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 3;
    margin-top: 5em;
    background-color: rgba($color: white, $alpha: 0.6);

    p {
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1em 1em 0.5em 1em;
        font-size: 1.7em;
    }
    .blog {
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0.5em 1em 1em 1em;
        font-size: 1.7em;
        color:#A60303;
        display: grid;
        justify-content: end;
    }
}

/* Services */
.carousel {
    grid-row: 2/3;
    margin: 2em;
    .d-block {  /*wyśrodkowanie obrazka*/
        margin-left: auto;
        margin-right: auto;
    }
}


/* Contact */
.contact {
    grid-template-columns:70% 20% 10%;
}
form {
    grid-row: 2/3;
    margin: 2em;
}
input, textarea {
    display: block;
    background-color: #EAEAEC;
}
textarea {
    color:#A60303;
    margin-bottom: 10px;
    border: none;
}
.submit{
    background-color: #A60303;
    height: 30px;
    width: 50px;
    border: none;
    color:#EAEAEC;
    margin-top: 2em;
    
}

.social-media {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-content: center;
    padding: 2em;

    .fa-brands {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 3px solid $color-red-medium;
    text-align: center;
    color:#A60303;
    display: block;
    }
}

/* Footer*/ 
footer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    align-items: center;
    background-color:#A60303;
    font-size: 1.7em;
    margin: 50px 0 0 0;
    padding: 2em 0;;
}
.container-width {
    text-align: center;
    color:#EAEAEC;
}
.footer-page {
    color:#EAEAEC;
    
}

@media all and (max-width: 800px) {
    header, section, footer {
    border: 3px solid rebeccapurple;
    }
    * {
        float: none;
        width: auto;
    }

}