/* Variables */
/* Global */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a::hover {
  cursor: pointer;
}

body {
  font-size: 10px;
  background-image: url("https://i.postimg.cc/gk7XmgsQ/cut-mae-mu-a-Zf-MW0h-Sn-QI-unsplash-S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.5;
}

/* Header */
.grid-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 35% 10% 10%;
      grid-template-columns: 45% 35% 10% 10%;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.grid-menu .item {
  font-size: 2em;
  min-height: 5em;
}

.grid-menu .logo {
  /* wycentrowanie obrazka i napisu w pionie*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* wycentrowanie w poziomie w danym divie
        justify-content: center;
        */
}

.grid-menu .logo-picture {
  min-height: 3em;
  max-height: 4em;
  display: block;
  margin-left: 2em;
}

.grid-menu .logo-page {
  font-size: 1.2em;
  display: block;
  margin-left: 0.7em;
}

/*Menu*/
.item ul {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item li {
  float: left;
  padding: 0.5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header a {
  font-size: 1em;
  color: #070304;
  padding-bottom: 0.4em;
}

header a:hover {
  border-bottom: 3px solid #A60303;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

/* About me */
.grid-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.6);
}

.grid-about .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-about .foto {
  min-width: 50%;
  max-width: 90%;
  margin: 2em auto auto 2em;
}

.page-title {
  font-family: "Great Vibes", cursive;
  font-size: 4em;
  font-weight: lighter;
  margin: 0.5em 0.5em auto 0.5em;
  border-bottom: 3px solid #A60303;
  grid-column: 1/-2;
}

.item p {
  padding: 1em;
  font-size: 1.7em;
}

/* Wine */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -ms-grid-rows: 3;
      grid-template-rows: 3;
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.6);
}

.grid p {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  padding: 1em 1em 0.5em 1em;
  font-size: 1.7em;
}

.grid .blog {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  padding: 0.5em 1em 1em 1em;
  font-size: 1.7em;
  color: #A60303;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* Contact */
.contact {
  -ms-grid-columns: 70% 20% 10%;
      grid-template-columns: 70% 20% 10%;
}

form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 2em;
}

input, textarea {
  display: block;
  background-color: #EAEAEC;
}

textarea {
  color: #A60303;
  margin-bottom: 10px;
  border: none;
}

.submit {
  background-color: #A60303;
  height: 30px;
  width: 50px;
  border: none;
  color: #EAEAEC;
  margin-top: 2em;
}

.social-media {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.social-media .fa-brands {
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: 3px solid #A60303;
  text-align: center;
  color: #A60303;
  display: block;
}
/*# sourceMappingURL=style.css.map */